<% include inc/head %>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Archer Duel</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Hello, <%= currentUser.displayName %>!</a></li>
        </ul>
    </div>
</nav>

<div>
    <div class="panel panel-info text-center" style="max-width: 48%; min-width: 30%; float: left;">
        <div class="panel-heading">Game Rooms</div>
        <div class="panel-body">
            <button class="btn btn-lg btn-primary btn-block" type="button" onclick="location='/game/new'">Start Game
            </button>
        </div>

        <table class="table">
            <% for(var i = 0; i < rooms.length; i++) { %>
            <tr onclick="location='/game/<%= rooms[i].id %>'">
                <td>
                    <%= rooms[i].player1.displayName %> vs <%= rooms[i].player2.displayName %><br>
                    Spectators: <%= rooms[i].spectators %>
                </td>
            </tr>
            <% } %>
        </table>
    </div>

    <div class="panel panel-info text-center" style="max-width: 48%; min-width: 30%; float: right;">
        <div class="panel-heading" style="border: 0;">Statistic</div>
        <table class="table">
            <tr>
                <td><b>Player name</b></td>
                <td><b>Played games</b></td>
                <td><b>Score</b></td>
            </tr>
            <% for(var i = 0; i < scoreboard.length; i++) { %>
            <tr>
                <td><%= scoreboard[i].displayName %></td>
                <td><%= scoreboard[i].games %></td>
                <td><%= scoreboard[i].score %></td>
            </tr>
            <% } %>
        </table>
    </div>
</div>
</body>
<% include inc/foot %>